body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
}

.search-container {
  text-align: center;
  margin-bottom: 20px;
}

.search-bar {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.movie-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.movie-item {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
}

.movie-title {
  margin: 0;
}

.movie-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-year {
  margin: 0;
}

.add-button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.like-button {
  padding: 10px;
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px; /* Added margin for spacing */
}

.like-all-button {
  padding: 10px;
  background-color: #1a73e8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px; /* Added margin for spacing */
}
